motd: |
  Welcome to the build server of the Russian Fedora community!

  You can use the server to build and test Fedora packages.

  Note that server can be redeployed from scratch at any time.

  Permanent changes to server configuration should be configured via Ansible playbook:

      https://github.com/RussianFedora/server-config

users:
#  - name: someuser
#    key: "ssh-rsa AAAAB3NzaC1ycsomeinvalidkeyusedforexamplegGzT8iTmUv"
  - name: bookwar
    key: https://github.com/bookwar.keys
  - name: vrutkovs
    key: https://github.com/vrutkovs.keys
  - name: tim
    key: https://github.com/tim77.keys
  - name: xvitaly
    key: https://github.com/xvitaly.keys

required_packages:
  - mock
  - rpmdevtools
  - podman
  - buildah
  - gcc
  - fedpkg
  - koji

# Default cockpit packages + docker
cockpit_packages:
  - cockpit
  - cockpit-networkmanager
  - cockpit-packagekit
  - cockpit-selinux
  - cockpit-storaged
  - cockpit-docker
